.experience__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.experince__frontend,
.experince__backend {
  background: var(--color-bg-variant);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.experince__frontend:hover,
.experince__backend:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.experince__frontend h3,
.experince__backend h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.experience__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.experince__details {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .experience__container {
    grid-template-columns: 1fr;
  }
  .experince__frontend,
  .experince__backend {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }
  .experience__content {
    padding: 1rem;
  }
}

@media screen and(max-width: 600px) {
  .experience__container {
    gap: 1rem;
  }
  .experince__frontend,
  .experince__backend {
    width: 100%;
    padding: 2rem 1rem;
  }
}

@media screen and (max-width: 414px) {
  .experience__container {
    grid-template-columns: 1fr;
  }
  .experince__frontend,
  .experince__backend {
    padding: 1rem;
  }
}
